/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header, footer, aside, div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* End of Eric Meyer's CSS Reset */

/* Utility CSS */
.flex {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.transition {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

/* End of Utility CSS */

strong {
    font-weight: bold;
}

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    z-index: 1;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 40px;
    padding: 5px;
    background: #cee3f3;
    overflow: hidden;
}

.header nav span {
    margin-right: 15px;
    color: #111;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

.header nav span.active, .header nav span:hover {
    color: #fff;
}

/* Middle
-----------------------------------------------------------------------------*/
.main {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    background: #cef3da;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.main-description {
    height: 100px;
    padding: 5px;
    background: #f3f1ce;
    overflow: hidden;
}

.content {
    float: left;
    padding: 5px 210px 5px 5px;
}

.sidebar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    float: left;
    width: 200px;
    top: 40px;
    margin-left: -200px;
    padding: 5px;
    background: #f3ced2;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    position: relative;
    z-index: 1;
    height: 30px;
    padding: 5px;
    background: #cee3f3;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
}

/* Aside
-----------------------------------------------------------------------------*/
.wrapper > aside {
    position: fixed;
    top: 40px;
    z-index: 2;
    width: 0;
    height: 100%;
    background: #d5cef3;
    overflow: hidden;
}

.wrapper > aside.active {
    width: 300px;
}

.wrapper > aside .aside-box {
    min-width: 300px;
    padding: 5px;
}

/* Media Queries
-----------------------------------------------------------------------------*/
@media (max-width: 640px) {

    .content {
        padding: 5px;
    }

    .sidebar {
        position: relative;
        width: inherit;
        top: inherit;
        margin-left: inherit;
    }

    .wrapper {
        height: auto;
    }

    .wrapper > aside {
        position: relative;
        top: 0;
        width: 100% !important;
        height: auto;
    }

    .wrapper > aside .aside-box {
        width: 100%;
    }

    .footer, .main-description {
        height: auto;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .wrapper {
        height: auto;
    }
}